﻿<%@ Page Language="C#" Inherits="jamc_studios.Default" %>
<html>
<head runat="server">
	<title>Default</title>
</head>
<body>
	<form id="form1" runat="server">
		<asp:Button id="button1" runat="server" Text="Click me!" OnClick="button1Clicked" />
        <a href="index.aspx">HOME</a>
	</form>
</body>
</html>
