html {
    background-image: url("busInterior.jpg");
    background-size: 100%;

}

h1 {
    color: blue;
    font-family: sans;
    text-align: center;
    font-size: 60px;
    font-style: normal;
    margin-top: 0px;
}

p {
    color: black;
    text-align: justify;
    text-indent: 20px;
}

a {
    color: black;
}

body, div {
    margin: 0px;
    border: 0px;
    padding: 0px;
    outline: 0px;
    vertical-align: baseline;
}

.siteBackdrop {
    height: auto;
}

.body {
    background: rgba(200,200,200,.7);
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.menu {
    background: #000099;
    height: 70px;
    line-height: 70px;
    /*sticky?*/
}

.menuCenterpiece {
    background: #000099;
    height: 100%;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.leftMenuItems {
    margin: auto;
    background: blue;
    height: 100%;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    float: left;
}

.rightMenuItems {
    margin-right: 0px;
    background: blue;
    height: 100%;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    float: right;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

/*
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    /*font-size:100%;* /
    vertical-align:baseline;
    background:transparent;
}* /

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs * /
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs * /
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs * /
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}*/
